/*theme*/
:root{
    --main-bg-pink: linear-gradient(to right top, #051937, #3a2e5d, #75407b, #b6528e, #f66793);
   --main-bg-green: linear-gradient(155deg, #ff9348 0, #ff8649 12.5%, #ff7447 25%, #ff5d43 37.5%, #f23c3c 50%, #e30037 62.5%, #d80037 75%, #cf003a 87.5%, #c90041 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-body-login{
    background-image: linear-gradient(to right top, #051937, #3a2e5d, #75407b, #b6528e, #f66793);
}
.container-home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.loginbox{
    width: 500px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    margin-left: 90px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.registroMascotaBox{
    width: 600px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    border-radius: 24px;
    padding: 12px;
    margin-left: 90px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.titulo-login, .titulo-registrar-mascota-perdida{
    text-align: center;
    margin-bottom: 20px;
}



.btn-login{
    padding-top: 30px ;
}
s

.login-registro-usuario{
    color: black;
}
.login-registro-usuario:hover{
    color: red;
}

.login-info-lista{
    margin-right: 300px;
}

.flex-center{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.homeBotonBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.homeBotonBox:hover{
    cursor: pointer;
    background: var(--main-bg-green);
    color: black;
    font-weight: bold;
}

.home-botones-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-descripcion-pagina{
    background: var(--main-bg-pink);
    color: white;
}

.login-icono-tilde{
    margin: 0 10px 0 20px ;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.login-mensaje-error{
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.home-navegador{
    color: white;
}


body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.imagen-fondo{
    background-size: cover;
    background: linear-gradient(to right top, #051937, #3a2e5d, #75407b, #b6528e, #f66793);
    /*background-image: url('https://fotos.perfil.com/2021/03/08/trim/1280/720/0308perros-lindos-1138532.jpg');*/
}

/* Create a Parallax Effect */
.bgimg-1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    min-height: 100%;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.container-publicaciones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.tarjeta-publicacion-mascota{
    text-decoration: none;
    cursor: pointer;
    background: white;
    border-radius: 12px;
    padding: 10px 24px 24px 24px;
    max-width: 300px;
    min-width: 300px;
    min-height: 512px;
    max-height: 512px;
    margin: 10px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.tarjeta-text-decoration{
    text-decoration: none;
}

.tarjeta-publicacion-mascota:hover{
    background-color: #3a3a3a;
    color: white;
}

.tarjeta-publicacion-ver-publicacion{
    background: white;
    border-radius: 12px;
    padding: 10px 24px 24px 24px;
    margin: 10px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.ver-publicacion-escribir-comentario{
    padding: 12px;
    min-width: 400px;
    max-width: 400px;
    min-height: 120px;
    max-height: 120px;
}

.imagen-publicacion-mascota{
    width: 100%;
    border-radius: 12px;
}

.buscar-publicaciones-cerrar{
    display: flex;
    justify-content: end;
}

.header-publicaciones{
    top:0;
    position: sticky;
    background-color: black;
    padding: 0;
    margin: 0;
}

.container-buscar-publicaciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar-publicaciones-formulario{
    background: white;
    border-radius: 12px;
    padding: 10px 24px 24px 24px;
    min-width: 500px;
    margin: 10px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.buscar-publicaciones-titulo,.buscar-publicaciones-boton-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.buscar-publicaciones-boton-container{
    margin-top: 28px;
}

.tarjeta-publicacion-ver-publicacion{
    cursor: pointer;
    background: white;
    border-radius: 12px;
    padding: 10px 24px 24px 24px;
    margin: 10px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.ver-publicacion-escribir-comentario{
    margin-top: 20px;
    padding: 12px;
    min-width: 400px;
    max-width: 400px;
    min-height: 120px;
    max-height: 120px;
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
    }
}

@media (max-width: 1578px) {
    .login-info-lista{
        margin-right: 60px;
    }
}

@media (max-width: 1278px) {
    .login-info-lista{
        display: none;
    }

    .loginBox-center{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .loginbox{
        margin-left: 0px;
    }
}